@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";


:root {
    --primary: #4361ee;
    --primary-dark: #3a56d4;
    --secondary: #4cc9f0;
    --dark: #0d1b2a;
    --light: #f8f9fa;
    --accent: #f72585;

  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0070f3;
  --secondary-color: #0a192f;
  --text-color: #333;
  --light-color: #f8f9fa;
  --dark-color: #333;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

